extends ../_templates/calcPage/calcPage
 
block title
   title #{pagesConfig.hash.matrixMulVec.name} | #{pagesConfig.name}

block contentTitle 
   | #{pagesConfig.hash.matrixMulVec.name}

block fullWidthContent
   - fullWidthContent = false

append workspace

   .calc 
      .calc__item.calc__matrixA
      .calc__item.calc__matrixB.vector
      .calc__item.calc__matrixC