-
   0; // Костыль, что бы считать файл одновременно как js и pug

   const pagesConfig = {
      name: 'MathCalc',
      slogan: 'MathCalc - online calculator',
      hash: {}, // Определяется ниже

      pages: [{
         name: 'MathCalc - online calculator',
         alias: 'index',
         url: '/', 
         webpackEntry: './src/pages/index/index.ts', 
         htmlWebpackPlugin: {
            filename: 'index.html',
            template: './src/pages/index/index.pug',
         },
      }, {
         name: 'Matrix addition',
         alias: 'matrixAddMatrix',
         url: '/matrix-plus-matrix',
         webpackEntry: './src/pages/matrix-plus-matrix/matrix-plus-matrix.ts',
         htmlWebpackPlugin: {
            filename: 'matrix-plus-matrix/index.html',
            template: './src/pages/matrix-plus-matrix/matrix-plus-matrix.pug',
         },
      }, { 
         name: 'Matrix multiplication',
         alias: 'matrixMulMatrix',
         url: '/matrix-mul-matrix',
         webpackEntry: './src/pages/matrix-mul-matrix/matrix-mul-matrix.ts',
         htmlWebpackPlugin: {
            filename: 'matrix-mul-matrix/index.html',
            template: './src/pages/matrix-mul-matrix/matrix-mul-matrix.pug',
         },
      }, {
         name: 'Matrix-vector multiplication',
         alias: 'matrixMulVec',
         url: '/matrix-mul-vec',
         webpackEntry: './src/pages/matrix-mul-vec/matrix-mul-vec.ts',
         htmlWebpackPlugin: {
            filename: 'matrix-mul-vec/index.html',
            template: './src/pages/matrix-mul-vec/matrix-mul-vec.pug',
         },
      }, {
         name: 'Matrix-number multiplication',
         alias: 'matrixMulNum',
         url: '/matrix-mul-num',
         webpackEntry: './src/pages/matrix-mul-num/matrix-mul-num.ts',
         htmlWebpackPlugin: {
            filename: 'matrix-mul-num/index.html',
            template: './src/pages/matrix-mul-num/matrix-mul-num.pug',
         },
      }, {
         name: 'Matrix transpose',
         alias: 'matrixTranspose',
         url: '/matrix-transpose',
         webpackEntry: './src/pages/matrix-transpose/matrix-transpose.ts',
         htmlWebpackPlugin: {
            filename: 'matrix-transpose/index.html',
            template: './src/pages/matrix-transpose/matrix-transpose.pug',
         },
      }, {
         name: 'Absolute Value of a Vector',
         alias: 'vecAbs',
         url: '/vec-abs',
         webpackEntry: './src/pages/matrix-mul-matrix/matrix-mul-matrix.ts',
         htmlWebpackPlugin: {
            filename: 'vec-abs/index.html',
            template: './src/pages/matrix-mul-matrix/matrix-mul-matrix.pug',
         },
      }, {
         name: 'Vector multiplication',
         alias: 'vecMulVec',
         url: '/vec-mul-vec',
         webpackEntry: './src/pages/matrix-mul-matrix/matrix-mul-matrix.ts',
         htmlWebpackPlugin: {
            filename: 'vec-mul-vec/index.html',
            template: './src/pages/matrix-mul-matrix/matrix-mul-matrix.pug',
         },
      }, {
         name: 'Vector-number multiplication',
         alias: 'vecMulNum',
         url: '/vec-mul-num',
         webpackEntry: './src/pages/matrix-mul-matrix/matrix-mul-matrix.ts',
         htmlWebpackPlugin: {
            filename: 'vec-mul-num/index.html',
            template: './src/pages/matrix-mul-matrix/matrix-mul-matrix.pug',
         },
      }, {
         name: 'Vector addition',
         alias: 'vecPlusVec',
         url: '/vec-plus-vec',
         webpackEntry: './src/pages/vec-plus-vec/vec-plus-vec.ts',
         htmlWebpackPlugin: {
            filename: 'vec-plus-vec/index.html',
            template: './src/pages/vec-plus-vec/vec-plus-vec.pug',
         },
      }],
   }
   
   pagesConfig.pages.forEach((page) => {
      pagesConfig.hash[page.alias] = page;
   });

   if (module) {
      module.exports = pagesConfig;
   }
