footer.footer
   p Copyright &copy; #{new Date().getFullYear()} 
      a(href="https://github.com/DimaGashko" target="_blank") Dmitry Gashko

   p You can fork this project on 
      a(href="https://github.com/DimaGashko/mathcalc/" target="_blank") GitHub
      |  repository