-
   const pagesConfig = {
      name: 'MathCalc',
      slogan: 'MathCalc - online calculator',

      pages: [{
         name: 'MathCalc - online calculator',
         url: '/', 
      }, { 
         name: 'Matrix multiplication',
         url: '/matrix-mul-matrix',
      }, {
         name: 'Matrix-vector multiplication',
         url: '/matrix-mul-vector',
      }, {
         name: 'Matrix-number multiplication',
         url: '/matrix-mul-number',
      }, {
         name: 'Matrix addition',
         url: '/matrix-plus-matrix',
      }, {
         name: 'Matrix transpose',
         url: '/transpose-matrix',
      }, {
         name: 'Absolute Value of a Vector',
         url: '/vector-abs',
      }, {
         name: 'Vector multiplication',
         url: '/vector-mul-vector',
      }, {
         name: 'Vector-number multiplication',
         url: 'vector-mul-num',
      }, {
         name: 'Vector addition',
         url: 'vector-plus-vector',
      }],
   }