extends ../_templates/calcPage/calcPage
 
block title
   title #{pagesConfig.hash.vecAbs.name} | #{pagesConfig.name}
 
block contentTitle 
   | #{pagesConfig.hash.vecAbs.name}

block fullWidthContent
   - fullWidthContent = false

append workspace

   .calc 
      .calc__item.calc__vecA.vector
      .calc__item.calc__res |A| = 
         span.calc__resVal 0 