@import ../_templates/calcPage/calcPage

.calc

.calc__item
   margin-bottom: 20px
   display: block

.calc__vecRes
   vertical-align: middle
   font-size: 1.1rem

.calc__vecAbs
   vertical-align: middle
