extends ../templates/calcPage/calcPage
 
block title
   title Matrix Transpose | #{pagesConfig.name}
 
block contentTitle 
   | Matrix Transpose 

block fullWidthContent
   - fullWidthContent = false

append workspace

   .calc 
      .calc__item.calc__matrixA
      .calc__item.calc__matrixT