extends ../_templates/basePage/basePage

block title
   title= pagesConfig.hash.index.name

block contentTitle 
   | #{pagesConfig.hash.index.name}

block fullWidthContent
   - fullWidthContent = true

block content
