.matrixDom__dataContainer
   <% const disabled = (t._isDisabled) ? 'disabled' : '' %>

   <% if (t.viewType === 'cell') { %>
   .matrixDom__cellsContainer 

      <% for (let i = 0; i < t._m; i++) { %>
      .matrixDom__cellsRow

         <% for (let j = 0; j < t._n; j++) { %>
         .matrixCell(data-cell-i!="<%= i %>" data-cell-j!="<%= j %>")
            input.matrixCell__input(
               type="number" value!="<%= t.getFormated(i, j) %>" 
               min!="<%= t.MIN_ITEM_VALUE %>" max!="<%= t.MAX_ITEM_VALUE %>"
            )&attributes({"<%= disabled %>": "true"}) 
         <% } %> 
      <% } %>

   <% } else if (t.viewType === 'area') { %>
   .matrixDom__areaContainer
      textarea.matrixDom__area(
         placeholder="1 2 3 4.31\n1, 3, 4, 5\n1,2,3,4,5\n1|2|3"
      )&attributes({"<%= disabled %>": "true"}) <%= t._getAreaText() %>
       
   <% } else { %>
   p Wrong viewType
   <% } %>
   