- pages = pagesConfig.pages.filter((page) => page.alias !== 'main');

nav.nav 
   .nav__title: a.nav__title-link(href = pagesConfig.hash.index.url) All Tools
   .nav__content  
      ul.nav__list
         each page in pages
            li.nav__listItem: a.nav__link(href=page.url)= page.name   