-
   const pagesConfig = {
      name: 'MathCalc',
      slogan: 'MathCalc - online calculator',

      pages: [{
         name: 'MathCalc - online calculator',
         alias: 'main',
         url: '/', 
      }, {
         name: 'Matrix addition',
         alias: 'matrixAddMatrix',
         url: '/matrix-plus-matrix',
      }, { 
         name: 'Matrix multiplication',
         alias: 'matrixMulMatrix',
         url: '/matrix-mul-matrix',
      }, {
         name: 'Matrix-vector multiplication',
         alias: 'matrixMulVec',
         url: '/matrix-mul-vector',
      }, {
         name: 'Matrix-number multiplication',
         alias: 'matrixMulNum',
         url: '/matrix-mul-number',
      }, {
         name: 'Matrix transpose',
         alias: 'matrixTranspose',
         url: '/transpose-matrix',
      }, {
         name: 'Absolute Value of a Vector',
         alias: 'vecAbs',
         url: '/vector-abs',
      }, {
         name: 'Vector multiplication',
         alias: 'vecMulVec',
         url: '/vector-mul-vector',
      }, {
         name: 'Vector-number multiplication',
         alias: 'vecMulNum',
         url: 'vector-mul-num',
      }, {
         name: 'Vector addition',
         alias: 'vecPlusVec',
         url: 'vector-plus-vector',
      }],
   }

   const pagesConfigHash = {};
   
   pagesConfig.pages.forEach((page) => {
      pagesConfigHash[page.alias] = page;
   });
