extends ../_templates/calcPage/calcPage
 
block title
   title #{pagesConfig.hash.vecPlusVec.name} | #{pagesConfig.name}
 
block contentTitle 
   | #{pagesConfig.hash.vecPlusVec.name}

block fullWidthContent
   - fullWidthContent = false

append workspace

   .controls 
      label Operation: 
         select.selectOperator
            option(value="+" selected) Addition
            option(value="-") Subtraction 
            option(value="*") Multiplication (as "+")
            option(value="/") Division (as "+")  

   .calc 
      .calc__item.calc__vecA.vector
      .calc__item.calc__vecB.vector
      .calc__item.calc__vecC.vector