extends ../_templates/calcPage/calcPage
 
block title
   title #{pagesConfig.hash.matrixMulNum.name} | #{pagesConfig.name}
 
block contentTitle 
   | #{pagesConfig.hash.matrixMulNum.name}

block fullWidthContent
   - fullWidthContent = false

append workspace

   .calc 
      .calc__item.calc__matrixA
      .calc__item.calc__matrixB