@import ../_templates/calcPage/calcPage

.calc

.calc__item

.controls
   text-align-last: left
   margin-bottom: 30px

.selectOperator
   @extend %focus

   box-sizing: border-box
   border-radius: 1px
   border: 1px solid #ccc
   font-size: 12px
   width: 150px
   padding: 3px
